body
{
  background-color: #020202;
  padding: 0px;
  margin: 0px;
    font-family: Goudy Old Style
    font-weight: normal;
    font-style: normal;
    color #f7f8f9

}
  color: #f7f8f9;
  width: 400px;
  text-align: center;
}

#gradient
{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

a:link, a:visited {
    color: #B9D1F3;
    text-decoration: none;
    cursor: auto;
}

a:hover {
  text-decoration: underline;
}

a:link:active, a:visited:active {
    color: #B9D1F3;

}
